include LICENSE README.md SECURITY.md
include alembic.ini
recursive-include migrations *.py *.mako
recursive-include tests *.py
recursive-include docs *.md
recursive-include examples/sample_data *.csv
